.skill {
    padding-top:3% ;
    position: relative;
    background:  #2a364c;
    border-radius: 94px;
    padding-bottom: 4%;
  }

  .skill-bx {
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: 60px;
  }
  
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
      color: #ffffff;
  }

  .skill p,h5 {
      color: #fffefe;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
      margin-bottom: var(--mb-3);
  }

  .item h5{
    color: rgb(255, 249, 249);
  }

  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .skill-slider .item img {
    width: 22%;
    margin: 15px auto 15px auto;
  }

  .item{
    margin-top: 30%;
    position: relative; 
  }


  .item::before {
    content: "";
    position: absolute;
    bottom: 35%;  /* Ajusta según la distancia que quieras del trampolín a la imagen */
    left: 50%;
    transform: translateX(-50%);
    width: 40%;  
    height: 5px; 
    background: #2196f3;
    border-radius: 50%;  
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;  /* Efecto neón */
}

  .item img {
    animation: moveUpDown 2s infinite alternate ease-in-out;
  }

  
  @keyframes moveUpDown {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px); 
    }
    60% {
      transform: translateY(-10px); 
    }
  }


  
  
  